.weather-info {
  background: rgba(236, 252, 255, 0.03);
  border-radius: 16px;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.35px);
  -webkit-backdrop-filter: blur(1.35px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.arrow {
  opacity: 0.8;
}
