<main>
  <app-search-bar></app-search-bar>
  <section class="time max-w-[1500px] mx-auto p-4 md:p-24">
    <div class="date md:m-12">
      <div
        class="border-2 rounded-full inline-block m-1 h-12 w-12 flex text-center"
      >
        <h2 class="text-xl py-2">{{ hours }}</h2>
      </div>
      <div class="border-2 rounded-full inline-block m-1 h-12 w-12 text-center">
        <h2 class="text-xl py-2">{{ minutes }}</h2>
      </div>
    </div>
    <div class="year m-4">
      <h2>{{ displayDate }}</h2>
    </div>
  </section>

  <div class="title 2xl:ml-36 2xl:ml-36">
    <h1>
      What is the weather like
      <span> in {{ location }} </span>
    </h1>
  </div>
</main>
<app-weather></app-weather>
